<!DOCTYPE html>
<html lang="" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/output-tailwind.css">
</head>
<body class="w-screen
h-auto">
    <h2 class="mx-auto">buttons</h2>
    <!-- Alireza -->
    <div class="w-screen h-auto border my-4 p-8">
        <button class="primarybtn w-52">افزودن به سبد</button>
        <!-- Alireza: make log in button -->
        <div class="w-10/12 h-auto mt-5 flex items-center justify-center gap-2">
            <button class="w-20 h-10 bg-white hover:bg-gray-300 text-black border border-black flex justify-center text-center pt-1">ورود</button>
            <div class="w-20 h-10  bg-white hover:bg-gray-100 text-blue-800 border border-black rounded-xl flex justify-center text-center pt-1">ورود</div>
        </div>
        <!-- Alireza: make log in button -->
        <div class="w-10/12 h-auto mt-5 flex items-center justify-center gap-2">
            <button class="w-20 h-10 bg-gray-800 hover:bg-gray-700 text-white border border-black flex justify-center text-center pt-1.5">ثبت نام</button>
            <div class="w-20 h-10  bg-blue-700 hover:bg-blue-500 text-white rounded-xl flex justify-center text-center pt-1.5">ثبت نام</div>
        </div>
        <!-- Alireza: make sign up button -->
        <div class="w-10/12 h-auto mt-5 flex items-center justify-center gap-2">
            <button class="w-72 h-10 bg-white hover:bg-gray-300 text-black border border-black flex justify-center text-center pt-1">نمایش تمام دوره ها</button>
            <div class="w-72 h-10  bg-blue-700 hover:bg-blue-500 text-white rounded-xl flex justify-center text-center pt-1.5">نمایش تمام دوره ها</div>
        </div>
        <!-- Alireza: make Try for free button -->
        <div class="w-10/12 h-auto mt-5 flex items-center justify-center gap-2">
            <button class="w-72 h-10  bg-gray-800 hover:bg-gray-700 text-white border border-black flex justify-center text-center pt-1.5">رایگان تست کنید</button>
            <div class="w-72 h-10  bg-blue-700 hover:bg-blue-500 text-white rounded-xl flex justify-center text-center pt-1.5">رایگان تست کنید</div>
        </div>
        <!-- Alireza: some buttons -->
        <div class="w-10/12 h-auto mt-5 flex items-center justify-center gap-2">
            <button class="w-72 h-10 bg-white text-gray-900 hover:text-blue-700 flex justify-center text-center pt-1">تدریس کنید</button>
            <div class="w-72 h-10  bg-blue-700 hover:bg-blue-500 text-white rounded-xl flex justify-center text-center pt-1.5">تدریس کنید</div>
        </div>
        <div class="w-10/12 h-auto mt-5 flex items-center justify-center gap-2">
            <button class="w-72 h-10 bg-white text-gray-900 hover:text-blue-700 flex justify-center text-center pt-1">دسته بندی</button>
            <div class="w-72 h-10  bg-blue-700 hover:bg-blue-500 text-white rounded-xl flex justify-center text-center pt-1.5">دسته بندی</div>
        </div>

    </div>
    <!-- End Alireza -->

    <!-- Radin -->
    <h2 class="mx-auto">links</h2>
    <!--radin added two link variations-->
    <div class="w-screen h-auto border my-4 p-8">
        <div class=" flex justify-center w-screen h-auto border my-4 p-8">
            <a href="#"><p class="primarylink">تست</p></a>
            <a href="#"><p class="primarylinkpurple">تست</p></a>
            <a href="#"><p class="primarylinkpurplebold">تست</p></a>
        </div>

        <div class="flex justify-center  bg-gray-900">
            <a href="#" ><p class="footerlink">تست</p></a>
            <a href="#" ><p class="footerlinkblue">تست</p></a>
        </div>  
        
        <div class="flex justify-center w-screen h-auto border my-4 p-8 ">

        <div class="exillinkwhite w-52 " ><a href="#">تست</a> </div> 
        <div class="exillinkblack w-52 " ><a href="#">تست</a> </div> 

        </div>
        <div class=" flex items-start justify-center w-screen h-auto border my-4 p-8">
            <div class="w-[500px] relative">
                <img class="opacity-25 absolute p-3 left-2" src="../assets/images/icons8-magnifying-glass-24.png" alt="">
                <input class="border-black p-2 border-2 text cursor-text rounded-3xl bg-white w-full h-12 " type="text" placeholder="جستجو کنید....." name="" id="">
            </div>
        </div>
    </div>
    
    <!--radin end-->

    <!-- Hasti -->
    <h2 class="mx-auto">taible</h2>
    <div class="w-screen h-auto border my-4 p-8">
        <div class="w-[900px] h-72 border  my-4 p-8 m-96 grid-cols-2 ">
            <h1 class="font-bold">انچه یاد میگیرید</h1>
            <div  class="grid grid-cols-2">
                <div class="flex mt-3">
                    <img class="w-[20px] h-[20px] "  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                    <div class="mr-3" >16 پروژه توسعه وب برای نمونه کار خود بسازید، آماده درخواست برای مشاغل توسعه دهنده جوان</div>
                </div>
                <div  class="flex mt-3">
                    <img class="w-[20px]  h-[20px]" src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                    <div class="mr-3">پس از دوره شما قادر خواهید بود هر وب سایتی را که می خواهید بسازید</div>
                </div>
                <div  class="flex mt-3">
                        <img class="w-[20px] h-[20px] "  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                        <div class="mr-3">به عنوان یک توسعه دهنده وب آزاد کار کنید</div>
                </div>
                <div  class="flex mt-3">
                    <img class="w-[20px] h-[20px] "  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                    <div class="mr-3">توسعه باطن اصلی با Node</div>
                </div>
                <div  class="flex mt-3">
                    <img class="w-[20px] h-[20px] "  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                    <div class="mr-3">جدیدترین فناوری ها از جمله Javascript، React، Node و حتی توسعه Web3 را بیاموزید.</div>
                </div>
                <div  class="flex mt-3">    
                        <img class="w-[20px] h-[20px] "  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                        <div class="mr-3">برای راه اندازی یا کسب و کار خود وب سایت ها و برنامه های وب کامل بسازید.</div>
                </div>
                <div  class="flex mt-3">
                        <img class="w-[20px] h-[20px]  "  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                        <div class="mr-3">با React به توسعه فرانت اند مسلط شوید</div>
                        
                </div> 
                <div  class="flex mt-3">
                    <img class="w-[20px] h-[20px] "  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                    <div class="mr-3">بهترین شیوه های توسعه دهندگان حرفه ای را بیاموزید</div>
                </div>         
            </div>
        </div>

        <h1 class="font-bold mt-16 mr-[450px]">این دوره شامل:</h1>
        <div class="grid grid-cols-2 mt-5 mr-96">
            <div class="flex ">
                <img class="w-[20px] mr-20" src="../assets/images/2.png" alt="">
                <div class="mr-3">61 ساعت ویدیوی درخواستی</div>
            </div>
            <div class="flex ">
                <img  class="w-[22px] mr-[10px]" src="../assets/images/load.jpg" alt="">
                <div class="mr-3">194 منبع قابل دانلود</div>
            </div>
            <div  class="flex ">
                <img class="w-[25px] h-[25px] mr-20" src="../assets/images/4photoshop-icon-programming-آیکون-برنامه-نویسی.jpg" alt="">
                <div  class="mr-3">7 تمرین کدنویسی</div>
            </div>
            <div class="flex  ">
                <img class="w-[40px] h-[29px] " src="../assets/images/images.png" alt="">
                <div class="mr-3">دسترسی به موبایل و تلویزیون</div>
            </div>
            <div class="flex ">
                <img class="w-[20px] h-[22px] mr-20 " src="../assets/images/مقاله.png" alt="">
                <div  class="mr-3">65 مقاله</div>
            </div>  
            <div class="flex ">
                <img class="w-[28px] mr-[7px]"  src="../assets/images/مدال.jpg" alt="">
                <div  class="mr-3">گواهی پایان کار</div>
            </div>
        </div>
        <div class="w-[780px] h-40 border mt-6 mr-[420px]  ">
            <h1 class="font-bold mr-9">شرکت های برتر این دوره را به کارمندان خود ارائه می دهند</h1>
            <h2 class="font-serif mt-2 mr-9">این دوره برای مجموعه ما از دوره های دارای رتبه برتر مورد اعتماد کسب و کارها در سراسر جهان انتخاب شده است. بیشتر بدانید</h2>
            <div class="flex justify-around">
                <img src="../assets/images/3.svg" alt="">
                <img src="../assets/images/4.svg" alt="">
                <img src="../assets/images/5.svg" alt="">
                <img src="../assets/images/7.svg" alt="">
                <img src="../assets/images/8.svg" alt="">
        
            </div>
        </div>
    </div>
    <!-- End hasti -->

    <h2 class="mx-auto">card</h2>
    <!-- reyhane create some card -->
    <div class="w-auto h-auto my-4 p-8">
        <div class="w-56 h-80 bg-white p-1 mt-1 mb-1 ">
            <div class="w-52 h-32 bg-white rounded-md  mt-2  "><img class="border-2 border-black rounded-md" src="../assets/images/rey-1.jpg" alt=""></div>
            <div class="w-52 h-16 bg-white font-medium text-left p-2">ChatGBT for data science and machine learning</div>
            <div class="w-52 h-20 bg-white font-medium text-left flex"><img src="../assets/images/rey-5.jpg" alt=""></div>
            <div class="w-52 h-8 bg-white font-medium text-left p-2">$109.99</div>
        </div>
        <hr>
        <div class="w-96 h-56 flex bg-white p-2 pt-4 rounded-md border-2 border-gray-500 mt-2 ">
            <div class=" h-auto w-52">
                <div class="w-52 h-16 bg-white font-bold text-left">modern react with redux[2024 update]</div>
                <div class="w-54 h-8 bg-white font-bold text-left">*best seller*</div>
                <div class="h-14 bg-white font-medium w-full flex justify-end items-center"><img class="w-32" src="../assets/images/rey-5.jpg" alt=""></div>
                <div class="w-52 h-8 bg-white font-bold text-left pl-1 line-through text-gray-500">$150 <span class="text-black">$109.99</span></div>
            </div>
            <div class="w-44 mr-2 h-auto bg-white p-2 "><img class="w-auto" src="../assets/images/reyh-2.jpg" alt=""></div>
        </div>
    </div>
    <!-- End reyhane -->
</body>
</html>