<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/output-tailwind.css">
</head>
<body class="w-screen
h-auto">
    <h2 class="mx-auto">buttons</h2>
    <div class="w-screen h-auto border my-4 p-8">

        <button class="primarybtn w-52">افزودن به سبد</button>


    </div>

    <h2 class="mx-auto">links</h2>
    <div class="w-screen h-auto border my-4 p-8">

        <a href="#">test</a>


    </div>
    <h2 class="mx-auto">tables</h2>
    <div class="w-screen h-auto border my-4 p-8">

        <table>
            <thead>
                <tr><th>asd</th></tr>
            </thead>
        </table>


    </div>
</body>
</html>