<!DOCTYPE html>
<html lang="" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/output-tailwind.css">
</head>
<body class="w-screen
h-auto">
    <h2 class="mx-auto">buttons</h2>
    <div class="w-screen h-auto border my-4 p-8">

        <button class="primarybtn w-52">افزودن به سبد</button>


    </div>

    <h2 class="mx-auto">links</h2>
    <div class=" w-screen h-auto border my-4 p-8 hover:text-purple-500">

        <a href="#">test</a>
       


    </div>   
    <!--radin added two link variations-->
    <div class="w-screen h-auto border my-4 p-8 ">

       <div class="exillinkwhite w-52 " ><a href="#">test</a> </div> 
       <div class="exillinkblack w-52 " ><a href="#">test</a> </div> 

    </div>
    <!--radin end-->
 
    <div class="w-[900px] h-72 border  my-4 p-8 m-96 grid-cols-2 ">
                   <h1 class="font-bold">انچه یاد میگیرید</h1>
                    <div class="flex">
                        <img class="w-[20px] h-[20px] mt-3"  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                        <div class="mr-5" >16 پروژه توسعه وب برای نمونه کار خود بسازید، آماده درخواست برای مشاغل توسعه دهنده جوان</div>
                        <img class="w-[20px]  h-[20px] mt-3" src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                        <div class="mr-5">پس از دوره شما قادر خواهید بود هر وب سایتی را که می خواهید بسازید</div>
                    </div>
                    <div class="flex">
                            <img class="w-[20px] h-[20px] mt-3"  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                            <div class="mr-5 mt-4">به عنوان یک توسعه دهنده وب آزاد کار کنید</div>
                            <img class="w-[20px] h-[20px] mt-3 mr-40"  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                            <div class="mr-5 mt-4">توسعه باطن اصلی با Node</div>
                    </div>
                    <div class="flex">
                            <img class="w-[20px] h-[20px] mt-3 "  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                            <div class="mr-5 mt-4">جدیدترین فناوری ها از جمله Javascript، React، Node و حتی توسعه Web3 را بیاموزید.</div>
                            <img class="w-[20px] h-[20px] mt-3 mr-20"  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                            <div class="mr-5 mt-4">برای راه اندازی یا کسب و کار خود وب سایت ها و برنامه های وب کامل بسازید.</div>
                    </div>
                    <div class="flex">
                            <img class="w-[20px] h-[20px] mt-3 "  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                            <div class="mr-5 mt-4">با React به توسعه فرانت اند مسلط شوید</div>
                            <img class="w-[20px] h-[20px] mt-3 mr-48"  src="../assets/images/4photoshop-icon-tick-آیکون-تیک-وکتور.jpg" alt="">
                            <div class="mr-5 mt-4">بهترین شیوه های توسعه دهندگان حرفه ای را بیاموزید</div>
                    </div>          
                </div>
                <div class="mr-[400px]">
                    <h1 class="font-bold">این دوره شامل:</h1>
                    <div class="flex mt-6">
                        <img class="w-[20px]" src="../assets/images/2.png" alt="">
                        <div class="mr-5">61 ساعت ویدیوی درخواستی</div>
                        <img  class="w-[18px] mr-36" src="../assets/images/load.jpg" alt="">
                        <div class="mr-5">194 منبع قابل دانلود</div>
                    </div>
                    <div  class="flex mt-3">
                        <img class="w-[24px]" src="../assets/images/4photoshop-icon-programming-آیکون-برنامه-نویسی.jpg" alt="">
                        <div  class="mr-5">7 تمرین کدنویسی</div>
                        <img class="w-[33px] mr-52" src="../assets/images/images.png" alt="">
                        <div  class="mr-3">دسترسی به موبایل و تلویزیون</div>
                    </div>
                    <div class="flex mt-3">
                        <img class="w-[20px] h-[22px] " src="../assets/images/مقاله.png" alt="">
                        <div  class="mr-5">65 مقاله</div>
                        <img class="w-[28px] mr-[276px]"  src="../assets/images/مدال.jpg" alt="">
                        <div  class="mr-5">گواهی پایان کار</div>
                    </div>  
                </div>

    <h2 class="mx-auto">card</h2>
    <div class="w-screen h-auto border my-4 p-8">

        <table>
            <thead>
                <tr><th>asd</th></tr>
            </thead>
        </table>


    </div>
    <div>
        
    </div>
</body>
</html>