<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/output-tailwind.css">
</head>

<body class="bg-gray-800" >
    <!-- radin div with lorem header created -->
        <div class="font-bold"><h1>Lorem ipsum dolor sit amet</h1></div>
    <!--end radin  -->


    <!-- Alireza i created the Div -->
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, odit, numquam molestias esse assumenda adipisci aperiam repellat necessitatibus consequuntur alias porro non voluptatum eligendi praesentium vitae iste, nemo voluptas quos?</div>
    <!-- End Alireza -->

    <!-- reyhane greated div to test github -->
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum voluptas natus labore culpa facere. Nam in eos, deserunt nemo aut cupiditate saepe consectetur velit voluptates odit beatae. Aliquid, dicta?</div>
    <!-- End reyhane -->
    
    <!-- Rezaamini i created the Div -->
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, odit, numquam molestias esse assumenda adipisci aperiam repellat necessitatibus consequuntur alias porro non voluptatum eligendi praesentium vitae iste, nemo voluptas quos?</div>
    <!-- End Rezaamini -->

</body>

</html>