<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson 12</title>
    <link rel="stylesheet" href="../assets/css/output-tailwind.css">
</head>
<body class="w-screen h-screen  center">
<!-- 
    <div class="w-32 h-32 bg-green-400 center md:scale-50">

    </div>
    <img src="../assets/images/bg.png" class="w-[400px] scale-50" alt="">

    <div class="w-32 h-32 bg-green-400 center rotate-90">
    ahgsdygj    
    </div>
    <img src="../assets/images/bg.png" class="w-[400px] scale-50 rotate-6" alt="">
    <img src="../assets/images/bg.png" class="w-[400px] scale-50 hover:translate-x-96 delay-300 ease-in rotate-6 duration-500 " alt="">
    <img src="../assets/images/bg.png" class="w-[400px] scale-50 hover:translate-x-96 delay-300 ease-in-out rotate-6 duration-500 " alt="">
    <img src="../assets/images/bg.png" class="w-[400px] 
    scale-50 hover:translate-x-96 delay-300 ease-linear 
    rotate-6 duration-500 " alt="">

    <div class="w-[400px] scale-50 h-56 bg-blue-500 skew-y-6 mb-10"></div>
 -->

 <img src="../assets/images/bg.png" class="w-[200px] m-20 border-2
  border-black  origin-top-left rotate-12" alt="">
</body>
</html>