<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson 4</title>
    <link rel="stylesheet" href="../assets/css/output-tailwind.css">
</head>
<body class="w-screen min-h-screen py-20 ">
    <div class="mx-auto w-64 h-20 bg-gray-500 rounded-tr-full">

    </div>
    <br>
    <div class="mx-auto w-64 h-20 bg-gray-500 rounded-sm border-8 border-green-500">

    </div>
    <br>
    <div class="mx-auto w-64 h-20 bg-gray-500 rounded-sm border-x-4 border-green-500">

    </div>
    <br>
    <div class="mx-auto w-64 h-20 bg-gray-500 rounded-sm border-y-4 border-green-500">

    </div>
    <br>
    <div class="mx-auto w-64 h-20 bg-gray-500 rounded-sm border-t-4 border-green-500">

    </div>
    <br>
    <div class="mx-auto w-64 h-20 bg-gray-500 rounded-sm border-t-8 border-blue-500">

    </div>
    <br>
    <div class="mx-auto w-64 h-20 bg-gray-500 rounded-sm border-8 border-dashed border-amber-500 ">

    </div>
    <br>
    <div class="mx-auto w-64 h-20 bg-gray-500 rounded-sm border-8 border-double border-amber-500 ">

    </div>
    <br>
    <div class="mx-auto w-64 h-20 bg-gray-500 rounded-sm border-8 border-dotted border-amber-500 ">

    </div>
    <div class="w-96 h-auto flex mt-8 divide-x-4 divide-yellow-600">
        <div class="center w-20 h-12 bg-slate-500">01</div>
        <div class="center w-20 h-12 bg-slate-500">02</div>
        <div class="center w-20 h-12 bg-slate-500">03</div>
        <div class="center w-20 h-12 bg-slate-500">04</div>


    </div>
    <div class="w-96 h-auto flex mt-8 divide-x-4 divide-dashed divide-yellow-600">
        <div class="center w-20 h-12 bg-slate-500">01</div>
        <div class="center w-20 h-12 bg-slate-500">02</div>
        <div class="center w-20 h-12 bg-slate-500">03</div>
        <div class="center w-20 h-12 bg-slate-500">04</div>


    </div>
    </div>
    <div class="w-96 h-auto flex mt-8 divide-x-4 divide-dotted divide-yellow-600">
        <div class="center w-20 h-12 bg-slate-500">01</div>
        <div class="center w-20 h-12 bg-slate-500">02</div>
        <div class="center w-20 h-12 bg-slate-500">03</div>
        <div class="center w-20 h-12 bg-slate-500">04</div>


    </div>
    <br>
    <div class="mx-auto w-64 h-20 bg-gray-500 rounded-sm border-4 
     border-amber-500 ring-8">

    </div>
    <br>
    <div class="mx-auto w-64 h-20 bg-gray-500 rounded-sm border-4 
     border-amber-500 ring-8 ring-offset-4">

    </div>
    <br>
    <div class="mx-auto w-64 h-20 bg-gray-500 rounded-sm border-4 
     border-amber-500 ring-8 ring-offset-4 ring-offset-black">

    </div>
</body>
</html>