<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson 12</title>
    <link rel="stylesheet" href="../assets/css/output-tailwind.css">
</head>
<body class="w-screen h-screen  center">
    <div>
        <div class="w-32 h-14 grid grid-cols-3">
            <input type="checkbox" class="">
            <input type="checkbox" class="accent-red-500">
            <input type="checkbox" class="accent-green-500">
            <input type="checkbox" class="accent-gray-500">
            <input type="checkbox" class="accent-[#7989ef]">
            <input type="checkbox" class="accent-[rgba(120,180,190,.5)]">
        </div>
        <div class="w-32 h-32 bg-green-400 cursor-not-allowed">

        </div>

        <div class="w-32 h-52 touch-pan-x overflow-y-scroll">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quasi qui quas cumque assumenda asperiores aperiam voluptatibus alias sequi voluptate atque nemo provident, sunt quis ex minus excepturi nesciunt? Quod?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ratione harum ullam sunt deleniti facilis sapiente non iste esse dolorum! Veniam enim quo ratione consequuntur cupiditate perferendis. Eum, rem totam?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ullam id unde iure deserunt, libero minus beatae perferendis debitis distinctio quidem voluptatibus non et doloremque recusandae eius dolor architecto tempora?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde facilis pariatur, deleniti consectetur ea explicabo voluptatem blanditiis, fuga dolor, molestiae ipsum vero facere quisquam ratione repellat dolorem quasi? Deserunt, libero.
        </div>
    </div>

</body>
</html>