<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson 9</title>
    <link rel="stylesheet" href="../assets/css/output-tailwind.css">
</head>
<body>

    <div class="mx-auto mt-20 w-44 h-16 shadow-inner shadow-red-600 hover:shadow-none">

    </div>
    <div class="mx-auto mt-20 w-44 h-16 shadow-3xl shadow-red-600 hover:shadow-none">

    </div>
    </div>
    <div class="mx-auto mt-20 w-44 h-16 shadow-[10px_30px_70px_5px_rgba(255,140,120,0.8)] hover:shadow-none">

    </div>

    <div class="mx-auto  mt-20 w-44 h-16 
     hover:shadow-none bg-cover opacity-20" style="background-image: url(../assets/images/bg.png);">

    </div>

        <div class="flex justify-center -space-x-32">
            <div class="mix-blend-darken bg-blue-700 w-72 h-72 rounded-full" style="background-image: url(../assets/images/bg.png);"></div>
            <div class="mix-blend-darken bg-yellow-400 w-72 h-72 rounded-full"></div>


        </div>



    
</body>
</html>