@tailwind base;
@tailwind components;
@tailwind utilities;

/*--------------Added Font--------------*/
/* 
@font-face {
  font-family: vazirMatnRegular;
  src: url(../fonts/Vazirmatn-Medium.woff2) format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: vazirMatnBold;
  src: url(../fonts/Vazirmatn-Bold.woff2) format("woff2");
  font-display: fallback;
} */

@layer components {

    .primarybtn{
      @apply p-2 rounded-md text-white bg-blue-500 hover:bg-blue-600
    }
    .exillinkwhite{
      @apply p-2 text-center font-medium text-[20px] border border-black text-black bg-white hover:bg-gray-400
    }
    .exillinkblack{
      @apply p-2 text-center font-medium text-[20px] text-white bg-gray-800 hover:bg-gray-700
    }
    .footerlink{
      @apply p-2 text-gray-300 hover:underline 
    }
    .footerlinkblue{
      @apply p-2 text-blue-300 hover:underline 
    }
    .primarylink{
      @apply p-2  text-gray-900 hover:text-purple-500
    }
    .primarylinkpurple{
      @apply p-2  text-purple-600 hover:text-purple-950
    }
    .box{
      @apply center rounded-2xl border;
    }
    

  }

@layer utilities {
    .px-content {
      @apply xl:pr-72 xlg:pr-60  xl:pl-20;
    }
    .center{
      @apply flex justify-center items-center;
    }

  
  }

  .linear-background{
    @apply bg-gradient-to-tr from-red-500 to-gray-700;
}
