{% extends "blog/base.html" %}
{% block title %}مجله من {% endblock %}

{% block content %}
<div class=" min-h-[80vh] p-8">
    <div class="max-w-6xl mx-auto">
    
        <h1 class="text-5xl font-bold text-center text-purple-900 mb-12 transform hover:scale-105 transition-transform duration-300">
           مجله من 
        </h1>

      
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for post in posts %}
            <div>
                <div>
                    <img src="{{post.image.url}}" alt="">
                </div>
                <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-2xl transition-shadow duration-300 transform hover:-translate-y-2 border border-purple-200">
                
                    <h2 class="text-2xl font-bold text-purple-700 hover:text-purple-900 mb-4">
                        <a href="{{post.get_absolute_url}}">
                      
                            
                            {{ post.title }}
                        </a>
                    </h2>

                
                    <p class="text-sm text-purple-500 mb-4">
                        Published {{ post.publish }} by <span class="font-medium text-purple-700">{{ post.author }}</span>
                    </p>

                
                    <div class="text-gray-700 leading-relaxed mb-4">
                        {{ post.body|truncatewords:30|linebreaks }}
                    </div>

                
                    <a  href="{{post.get_absolute_url}}" class="inline-block bg-gradient-to-r from-purple-500 to-purple-600 text-white px-6 py-2 rounded-full hover:from-purple-600 hover:to-purple-700 transition-all duration-300">
                        ادامه مطلب
                    </a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% comment %} {% include "components/pagination.html" with page=posts %} {% endcomment %}
{% include "components/pagination.html" with page=page_obj %}
{% endblock %}